nav{
	margin: 250px 0 50px;
	.list-inline > li{
		padding-left: 10px;
		padding-right: 5px;
	}
	li{
		border-left: 1px solid $text-light;
		line-height: 1.5rem;
		&:first-child{
			border: none;
		}
		a{
			text-transform: uppercase;
			font-family: "norwester";
			font-size: $navigation-link-size;
			color: $text-light;
			text-decoration: none;
			margin-top: 0.5rem;
			display: inline-block;
			&:hover, &:focus{
				color: $link-hover;
				text-decoration: none;
			}
		}
	}
}