.switch{
	border-radius: 10px;
	border: 1px solid $text-light;
	width: 30px;
	height: 16px;
	display: inline-block;
	line-height: 28px;
	position: relative;
	@include background-image(linear-gradient(to top, $base-dark -10%, transparent 30%));
	.switch-check:checked + .switch-label span {
		left: 16px;
	}
	.switch-check{
		position: absolute;
		visibility: hidden;
	}
	.switch-label{
		cursor: pointer;
		display: block;
		text-indent: -9999px;
		span{
			background: $text-light;
			@include box-shadow(0px 0px 2px 1px rgba(234, 234, 234, 0.5));
			border-radius: 10px;
			display: block;
			height: 12px;
			position: absolute;
			left: 1px;
			top: 1px;
			width: 11px;
		}
	}
}