#timer{
	.game-logo-wrap{
		position: relative;
		.game-logo{
			@include skew(-15deg, 0);
			background: $button-bg;
			@include background-image(linear-gradient(to top, $base-dark 0%, $timer-logo-bg 20%, $timer-logo-bg 80%, $base-dark 100%));
			height: 272px;
			width: 90%;
			margin: -21px auto 0;
		}
	}
	.timer-unit{
		color: $base-light;
		text-align: center;
		width: 40%;
		margin-top: 35px;
		margin-left: 20%;
		float: left;
		&:first-child{
			margin-left: 0;
		}
		.timer-nmb{
			font-family: "norwester";
			font-size: $timer-nmb-size;
			font-weight: bold;
			display: block;
			border: 1px solid $base-light;
			padding: 10px 0;
			@include box-shadow(rgba($base-dark, 0.5) 5px 7px 15px 3px, rgba($base-dark, 0.5) 0 0 40px 10px inset);
		}
		.timer-desc{
			font-size: $timer-desc-size;
			display: block;
			margin-top: 5px;
		}
	}
}