// Text colors
$text-dark: #070000;
$text-light: #eaeaea;
$text-xtra-light: #ffffff;
$text-shadow-light: #656565;
$link: #E67E0F;
$link-hover: #E67E0F;

// Elements colors
$body-bg: #ffffff;
$base-light: #ffffff;
$base-dark: #000000;

// Header gradient colors
$header-gradient-light: #b00603;
$header-gradient-medium: #540101;
$header-gradient-dark: #370101;

// Video live header gradient
$vlh-gradient-light: #5e0202;

// Video live description background
$vld-background: #050000;

// Tournament timer gradient
$tt-gradient-light: #370102;

// Buttons
$button-bg: #af8181;

// Timer
$timer-logo-bg: #af8181;

// Tournament table
$tourn-table-header: #cacaca;
$tourn-table-body: #370101;
$tab-pane-bg: rgba(0,0,0,0.7);
$tab-pane-border: rgba(256,256,256,0.5);
$tab-nav-font-base: #060606;
$tab-nav-font-active: #340101;
$tab-nav-base-bg: rgba(256,256,256,0.2);
$tab-nav-active-bg: rgba(256,256,256,0.8);
$tab-pane-font-light: #b0b0b0;
$tab-pane-font-dark: #352e2e;

// Footer gradient colors
$footer-gradient-1: #707070;
$footer-gradient-2: #727360;
$footer-gradient-3: #5e5e61;
$footer-gradient-4: #5e706f;
$footer-gradient-5: #5e5f61;
$footer-gradient-6: #686e6e;

// Social icons hover
$twitter-icon-hover: #41ABE1;
$youtube-icon-hover: #C4191F;
$vk-icon-hover: #4C75A3;
$facebook-icon-hover: #3C5899;
$twitch-icon-hover: #6441A5;